section{
    border: 1px solid black;
    margin: 30px;
    margin-left: 100px;
    width: 200px;
    margin-left: auto; 
    margin-right: 10px;
}

p{
    margin: 10px 5px;
    border: 1px solid black;
}





@media screen and (max-width: 850px){
    section{
        border: 1px solid black;      
        margin: auto;
        margin-top: 30px;
        
    }

    .display{
        display:flex;
    }
    
}