.footer{
    display: none;
}

@media screen and (max-width:850px){
    .footer {
        display: flex;
        background-color: var(--dunkel-blau);
        color: var(--gelb);
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: space-evenly;
    }
    
    .footer .li {
        float: left;
        list-style-type: none;
        color: var(--gelb);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        transition: all 0.4s ease-in-out;    
    }

    .footer .li:hover {
        background-color: var(--gelb);
        color: var(--dunkel-blau);
        transform: scale(1.1);        
      }
      
      
}
