.container{
    display: flex;
    flex-direction: column;
}
.registration {
    margin: 0 auto;
    padding: 0 4rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
}
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.form-container > * {
    width: 48%;
    max-width: 500px;
}
.registration-form fieldset {
    margin-top: 1rem;
    padding: 10px 20px;
    background: var(--grau);
    border-radius: 0.5rem;
    border: 1px solid var(--braun);
}
.registration-form label {
    width: 200px;
    display: inline-block;
}
.registration-form legend {
    font-family: var(--header-font);
}
.registration-form fieldset > div + div { margin-top: 0.5rem; }
.registration-form fieldset > div > input { 
    width: calc(100% - 20px - 200px);
 }
 .registration-form fieldset > div > input:not([type="file"]) { 
     border-radius: 0.2rem;
     padding: 2px 4px;
     background: #fff;
    border: 1px inset var(--braun);
  }
 .button-container   { 
    text-align: right;
    margin-top: 1rem;
}
 .button-container button {
     width: 240px;
     height: 34px;
     border: none;
     border-radius: 0.5rem;
     background-color: var(--gruen);
     cursor: pointer;
     transition: all 0.2s ease-in-out;
 }
 .button-container button:hover {
     background-color: var(--hell-blau);
     transform: scale(0.9);
 }
 .registration-form .certificate-frame, .registration-form .resume-frame {
    background: var(--blau);
    color: var(--hell-blau);
    padding: 10px 20px;
}
@media screen and (max-width: 1024px) {
    .form-container {
        display: block;
    }
    .form-container > * {
        width: 100%;
    }
    .form-container > * {
        margin-top: 1rem;
    }
}

 @media screen and (max-width: 850px) {
    label {
        width: 100%;
        display: block;
    }
    .form-container fieldset > div > input { 
        width: 100%;
     }
}