.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 586px;
    background-image: url(../img/hero1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: bottom 200px; */
    box-shadow: 0.6em 0.3em 0.8em var(--blau);   
}

.menu{
    position: relative;
    right: 4em;
    top: 2em;
}

.menu ul {
    display: flex;
    gap: 0.3em;
    list-style: none;
    font-size: 1.2em;
    font-family: var(--main-font);
    font-weight: 300;
}

.menu li {
    list-style: none;
    border-radius: 0.5rem;
    padding: 0.3em 0.9em;
    background-color: var(--gruen);
    border: none;
    transition: all 0.2s ease-in-out;
}

.menu li a {
    text-decoration: none;
    color: var(--dunkel-blau);
    font-size: 1.1rem;
    font-weight: 300;
}

.menu li:hover {
    background-color: var(--hell-gruen);
    transform: scale(0.9);
}

.menu-button {
    display: none;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 100%;
    right: 25px;
    transform: translateY(-50%);
    color: white;
    
} 

.active {
    color: black;
    list-style-type: none;
}

.home-logo {
    margin: 3em 4em;
    border: none;
    border-radius: 5px;
    padding: 0.3em;
    background-color: var(--gruen);
    transition: all 0.2s ease-in-out;
}

.home-logo:hover {
    transform: scale(0.9);
    background-color: var(--hell-gruen);
    border-radius: 7px;
}
  
@media screen and (max-width: 1110px) {
    .menu-button {
        display: inline-block;
        
    }

    .nav-menu ul {
        flex-direction: column;
        position: absolute;
        /* top: 60px; */
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);        
        display: none;
    }

    .nav-menu li {
        text-align: center;
        margin: 0;
    }

    .nav-menu li:hover {
        background-color: #eee;
    }

    .nav-menu.expanded ul {
        display: block;
        /* position: relative; */
        top: 170px;
        /* z-index: 1; */
        max-height: 200px;
        max-width: 200px;
        /* margin: 105px; */
        /* border: 1px solid black; */
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    
}