.suchergebnisse{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 99vw;
    margin: 0 auto;
}

.job-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

textarea{
    border: 3px solid darkgray;
    width: 500px;
    
}
.anschreiben{
    height: 500px;
}


main { display: flex; }
main > div { width: 32%; }


@media screen and (max-width: 850px){

    main { display: block; }

    .suchergebnisse{
        max-width: 100%;
        margin: 30px 20px;

    }
    .textarea{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .anschreiben{
        height: 400px;
    }
}
    
@media only screen and (max-width: 1279px) {
    .suchergebnisse{
       grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1023px) {
    .suchergebnisse{
       grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 567px) {
    .suchergebnisse{
       grid-template-columns: repeat(1, 1fr);
    }
}