:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --braun: #a4644;
  --blau: #555866d6;
  --dunkel-blau: #1b1a20;
  --hell-blau: #d7d7e7;
  --gruen: #82905a;
  --dunkel-gruen: #346316;
  --hell-gruen: #9dcc71;
  --gelb: #f9e8cc;
  --grau: #cfc8b5;
  --main-font: 'Montserrat', sans-serif;
  --header-font: 'Taviraj', serif;
  --header-font-2: 'Euphoria Script', cursive;
}

*,
::before,
::after {
 box-sizing: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}



@media screen and (max-width: 850px){
  
}
